{% extends "base.html" %}
{% block title %} Записи {{ author.username }}{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <li>
        {% include "includes/author_card.html" with author=author posts=author.posts %}
            </li>
            <div class="col-md-9">
        {% include "includes/post_card.html" with post=post %}
            </div>
        </div>
        {% include "includes/comments.html" with form=form items=post.comments.select_related %}
        </div>
</main>
{% endblock %}
